@* <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<link rel="stylesheet" href="~/css/Main.css" asp-append-version="true" />
</head> *@
<form class="modal">
	<label>Input Your Text</label>
	<input type="text" class="input-field aboutInput" name="aboutDescription" id="aboutDescription" value="" placeholder="About">
	<button type="button"  class="btn" value="" onclick="EditAbout()">Edit</button>
	<button type="button" class="btn" value="" onclick="CloseForm()">Close</button>
</form>
